src/test/resources/flows/test-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:wd-connector="http://www.mulesoft.org/schema/mule/wd-connector" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:spring="http://www.springframework.org/schema/beans" 
xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/wd-connector http://www.mulesoft.org/schema/mule/wd-connector/current/mule-wd-connector.xsd">
    <flow name="retrieveCustomersFlow">
        <dw:transform-message doc:name="Create GetCustomers Request">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 urn:com.workday/bsvc
---
{
	ns0#Get_Customers_Request: {
		ns0#Request_Criteria: {
			ns0#Customer_Reference_ID: payload
		},
		ns0#Response_Group: {
			ns0#Include_Reference: true,
			ns0#Include_Customer_Data: true
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <wd-connector:invoke config-ref="Workday__Basic" type="Revenue_Management||Get_Customers" doc:name="Get Customer"/>
        <dw:transform-message metadata:id="f6da61a5-620e-45c2-b5c3-ca47c5899a1b" doc:name="GetCustomers Response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 urn:com.workday/bsvc
---
{
	TotalResults: payload.ns0#Get_Customers_Response.ns0#Response_Results.ns0#Total_Results as :number,
	CustomerName: payload.ns0#Get_Customers_Response.ns0#Response_Data.ns0#Customer.ns0#Customer_Data.ns0#Customer_Name,
	PhoneNumber: payload.ns0#Get_Customers_Response.ns0#Response_Data.ns0#Customer.ns0#Customer_Data.ns0#Business_Entity_Data.ns0#Contact_Data.ns0#Phone_Data.ns0#Phone_Number,
	WebAddress: payload.ns0#Get_Customers_Response.ns0#Response_Data.ns0#Customer.ns0#Customer_Data.ns0#Business_Entity_Data.ns0#Contact_Data.ns0#Web_Address_Data.ns0#Web_Address,
	PostalCode: payload.ns0#Get_Customers_Response.ns0#Response_Data.ns0#Customer.ns0#Customer_Data.ns0#Business_Entity_Data.ns0#Contact_Data.ns0#Address_Data.ns0#Postal_Code
} when payload.ns0#Get_Customers_Response.ns0#Response_Results.ns0#Total_Results != 0 otherwise []]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Retrieved Workday Customer: #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="upsertAccountFlow">
        <sfdc:upsert config-ref="Salesforce" externalIdFieldName="Id" type="Account" doc:name="upsert Account">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:upsert>

    </sub-flow>

</mule>
