src/main/app/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">
	<flow name="triggerFlow" initialState="started"
		processingStrategy="synchronous" >
		<poll doc:name="Poll">
			<fixed-frequency-scheduler frequency="${poll.frequencyMillis}"
				startDelay="${poll.startDelayMillis}" />
			<watermark variable="lastQueryDate" default-expression="${watermark.default.expression}"
				selector="MAX" selector-expression="#[payload.LastModifiedDate]" />
            <sfdc:query config-ref="Salesforce" query="dsql:SELECT Id,BillingStreet,BillingCity,BillingPostalCode,BillingState,BillingCountry,Industry,Name,Website,Phone,LastModifiedDate FROM Account WHERE Type LIKE 'Customer%' AND LastModifiedDate &gt; #[flowVars.lastQueryDate]" fetchSize="${page.size}" doc:name="Query Accounts with filtering criteria from Salesforce"/>

		</poll>

		<batch:execute name="syncAccountsBatch" doc:name="Trigger Batch execute for Upsert in Workday" />
		<exception-strategy ref="defaultChoiceExceptionStrategy"
			doc:name="Reference Exception Strategy" />
	</flow>
</mule>
